ServiceM8/n8n-workflows/android-lead-relay.json
{
    "name": "Android Lead Relay (MacroDroid)",
    "description": "Receives Facebook notifications from Android (MacroDroid) via Webhook and filters for plumbing leads.",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "facebook-android-relay",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook (From Android)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "facebook-android-relay",
            "notes": "Receives POST from MacroDroid. JSON body should contain { \"text\": \"...\", \"app\": \"Facebook\" }"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ ($json.body.text || '').toLowerCase() }}",
                            "operation": "regex",
                            "value2": "(plumber|plumbing|boiler|heating|leak|hot water|gas engineer|anyone know|recommend|looking for)"
                        }
                    ]
                }
            },
            "id": "keyword-filter",
            "name": "Contains Keywords?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {},
            "id": "straico-placeholder",
            "name": "AI Filter (Straico)",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                690,
                200
            ],
            "notes": "Optional: Add Straico/OpenAI here to double-check if it's a real lead."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.bettercallwes.co.uk/api/v1/accounts/1/conversations",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api_access_token",
                            "value": "YOUR_CHATWOOT_API_TOKEN"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"inbox_id\": REPLACE_WITH_INBOX_ID,\n  \"message\": {\n    \"content\": \"🚨 HOT LEAD (Android Relay)\\n\\n📝 Content: {{ $json.body.text }}\\n\\n🤖 Suggested Reply:\\n{{ $json.suggested_reply }}\"\n  }\n}"
            },
            "id": "chatwoot-alert",
            "name": "Send to Chatwoot",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                100
            ],
            "notes": "Replace YOUR_CHATWOOT_API_TOKEN with your actual token and REPLACE_WITH_INBOX_ID with your inbox ID (usually 1 or 2)."
        },
        {
            "parameters": {},
            "id": "ignore",
            "name": "Ignore (Cold/No Keywords)",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                690,
                400
            ]
        }
    ],
    "connections": {
        "Webhook (From Android)": {
            "main": [
                [
                    {
                        "node": "Contains Keywords?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Contains Keywords?": {
            "main": [
                [
                    {
                        "node": "AI Filter (Straico)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Ignore (Cold/No Keywords)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Filter (Straico)": {
            "main": [
                [
                    {
                        "node": "Send to Chatwoot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}